@use 'src/index';

.Home{
    background-color: index.$space-blue;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

h1{
    font-size: 20px;
}

.buildings{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.armies{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
    align-items: center;
}
.build-armies{
    width: 100px;
    font-family: 'Gugi', cursive;
    height: 75px;
    font-size: 25px;
    background-color: index.$panel-blue;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 4px;
}
.total{
    margin-bottom: 30px;
}
.armies{
    margin-bottom: 30px;
}
.not-building{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.is-building{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.energy{
    color: yellow;
    
}

.minerals{
    color: red;
    
}

.adding-button{
    width: 150px;
    font-family: 'Gugi', cursive;
    height: 75px;
    font-size: 25px;
    background-color: index.$panel-blue;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 4px;
    margin-top: 30px;
}
.add-resources{
    margin: 30px;
    width: 150px;
    font-family: 'Gugi', cursive;
    height: 75px;
    font-size: 25px;
    background-color: index.$panel-blue;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 4px;
}