@use 'src/index';

.Navbar{
    background-color: black;
    margin-top: 0px;
    height: 80px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
}

.log-out{
    background-color: index.$space-blue;
    height: 35px;
    width: 80px;
    color: white;
    border: medium;
    border-color: white;
    border-style: solid;
    border-radius: 4px;
    text-decoration: none;
    padding-top: 15px;
    margin-left: 50px;

}
.log-out:active {
    background-color: #3e8e41;

    transform: translateY(4px);
  }


.attack{
    margin-right: 50px;
    background-color: red;
    height: 35px;
    width: 80px;
    color: white;
    border: medium;
    border-color: white;
    border-style: solid;
    border-radius: 4px;
    text-decoration: none;
    padding-top: 15px;
}

.home{
    margin-right: 50px;
    background-color: red;
    height: 35px;
    width: 80px;
    color: white;
    border: medium;
    border-radius: 4px;
    border-color: white;
    border-style: solid;
    text-decoration: none;
    padding-top: 15px;
}

@media(max-width: 550px){
    .Navbar{
        h2{
            font-size: medium;
      
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .log-out{
        
        margin-left: 25px;
    }
    .home{
        margin-right: 25px;
    }
    .attack{
        margin-right: 25px;
    }
    
}